[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-l9"]
	path = bundle/vim-l9
	url = https://github.com/slack/vim-l9.git
[submodule "bundle/ColorSamplePack"]
	path = bundle/ColorSamplePack
	url = git://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/vim-scripts/vim-coffee-script.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = git@github.com:nono/vim-handlebars.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = git@github.com:elixir-lang/vim-elixir.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = https://github.com/puppetlabs/puppet-syntax-vim
[submodule "bundle/less"]
	path = bundle/less
	url = git@github.com:groenewege/vim-less.git
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = git@github.com:mattn/emmet-vim.git
[submodule "bundle/editorconfig"]
	path = bundle/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
